<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render(" /bundles/modernizr")*@
    <link href="@Url.Content("~/Content/menu.css")" rel="stylesheet" type="text/css" />
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div id="header">
        <div id="nav" class="nav">
            @*@Html.Partial("_navdemo")*@
            @{Html.RenderAction("Menu", "Home");}
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
        <div id="loading" style="display: none; color: Red; font-weight: bold">
            <p>
                Loading Data...
            </p>
        </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
